<% provide(:title, "Login") %>
<h2>Admin Login</h2>
<%= form_for(:admin_session, url: admin_sessions_path, html: { class: "ink-form" }) do |f| %>
  <div class="control-group">
    <%= f.label :email %>
    <div class="control">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password %>
    <div class="control">
      <%= f.password_field :password %>
    </div>
  </div>
  <%= f.submit "Login", class: "ink-button" %>
<% end %>