<% provide(:title, "Edit user") %>
<h1>Update user</h1>

<%= form_for(@user, html: { class: "ink-form" }) do |f| %>
  <% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
  <div class="control-group">
    <%= f.label :email %>
    <div class="control">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password %>
    <div class="control">
      <%= f.password_field :password %>
    </div>
    <p class="tip">Leave empty if you do not want to change password.</p>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation %>
    <div class="control">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <%= f.submit "Save", class: "ink-button" %>

<!--    render 'shared/error_messages', object: f.object -->
<% end %>