<!DOCTYPE html>
<html>
<head>
  <title>LatCMS<%= " :: " << content_for(:title) if content_for?(:title) -%></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="top-menu">
  <nav class="ink-navigation ink-grid" id="admin_nav">
    <ul class="menu horizontal black">
      <li class="title"><%= link_to "LatCMS Admin", admin_root_path -%></li>
      <% if @current_user.id %>
        <li><%= link_to "Logout", admin_session_path(@current_user), :method => :delete %></li>
        <li<%= current_page?(controller: 'users') ? ' class="active"'.html_safe : "" %>><%= link_to "Users", admin_users_path %></li>
        <li<%= current_page?(controller: 'pages') ? ' class="active"'.html_safe : "" %>><a href="#">Pages</a></li>
      <% end %>
    </ul>
  </nav>
</div>
<div class="content ink-grid">
  <% flash.each do |name, msg| %>
    <% if ['alert', 'notice'].include? name %>
      <div class="ink-alert basic <%= name == "alert" ? "error" : "success" -%>" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><%= msg -%></p>
      </div>
    <% end %>
  <% end %>
  <%= yield %>
</div>
<footer class="clearfix">
  <div class="ink-grid">
    <p class="note">&copy; <%= Time.now.year %> Mike Lat</p>
  </div>
</footer>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>