<!DOCTYPE html>
<html>
<head>
  <title>RailsForum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="content">
    <%= yield %>
  </div>

  <footer class="clearfix">
    <div class="ink-grid">
      <p class="note">&copy; <%= Time.now.year %> Mike Lat</p>
    </div>
  </footer>

  <!-- <%= debug(params) if Rails.env.development? %> -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>